.card-group{
    align-items: center;
    .card{
        align-items:  center;
        height: 50%;
        width: 50%;
        img{
            align-items: center;
            height: 50%;
            width: 50%;
        }
    }
}